<?xml version="1.0"?>
<launch>
  <rosparam command="load" file="$(find robotic_pusher)/configs/params.yaml" />
  <node name="gazebo" pkg="gazebo_ros" type="gazebo" output="screen"/>
  <node name="spawn_object_node" pkg="robotic_pusher" type="spawn_object_node" args="-d $(find robotic_pusher)/src/spawn_object_node.cpp" output="screen"/>
</launch>
